* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ul {
    list-style-type: none;
}

button {
    width: 100%;
    height: 100%;
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: 2em;

    width: 50%;
    min-width: 500px;
    height: 60%;
    min-height: 650px;
    background-color: aliceblue;
    padding: 2em;


    border: 5px solid lightblue;
}

#calc-display {
    flex: 1;
    border: 5px solid lightblue;
    height: 56px;
    text-align: end;
    padding: 1em;
}

#buttons {
    flex: 8;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

#numbers {
    flex: 3;

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

#numbers li {
    width: 30%;
    height: 22%;
}

#operators {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#operators li {
    min-height: 1.5em;
    height: 20%;
}